<!--
PetVey webapp
Group project
Comp 229 Sec009
Fall 2021
-->

<div class="mx-auto" style="width:1000px; margin-top: -75px;" >
    <img src="/images/petvey-b.png" style="width: 1000px;">
    <input type="button" onclick="location.href='/survey/list';" value="Pet Survey" style="margin-top: -150px;"/>      
</div>