<!--
PetVey webapp
Group project
Comp 229 Sec009
Fall 2021
-->

<div style="margin-top: 150px; width:75%; margin-left: auto; margin-right: auto;">     
    <div class="card-group">
        <div class="card mx-lg-3" style="width: 18rem;">
          <img src="/images/1.png" class="card-img-top" alt=" ">
          <div class="card-body">
            <h5 class="card-title">Web Designer</h5>
            <p class="card-text"> Hengameh Khajehpour</p>        
          </div>
        </div>
        <div class="card mx-lg-3" style="width: 18rem;">
            <img src="/images/2.png" class="card-img-top" alt=" ">
            <div class="card-body">
              <h5 class="card-title">Front-End Developer</h5>
              <p class="card-text">Eman Abubakr</p>
            </div>
        </div>
        <div class="card mx-lg-3" style="width: 18rem;">
            <img src="/images/3.png" class="card-img-top" alt=" ">
            <div class="card-body">
              <h5 class="card-title">Project Manager</h5>
              <p class="card-text">Viratkumar Khatri</p>
            </div>
        </div>
        <div class="card mx-lg-3" style="width: 18rem;">
            <img src="/images/4.png" class="card-img-top" alt=" ">
            <div class="card-body">
              <h5 class="card-title">Back-End Developer</h5>
              <p class="card-text">Zachery Cardoza</p>
            </div>
        </div>
        <div class="card mx-lg-3" style="width: 18rem;">
            <img src="/images/5.png" class="card-img-top" alt=" ">
            <div class="card-body">
              <h5 class="card-title">Security Developer</h5>
              <p class="card-text">Taha Pathan</p>
            </div>
        </div>   
    </div>
    <div class="input-group">
      <input type="button" style="margin-top:40px;"
          onclick="location.href='https://github.com/vkhatri5/PetVey_WebApp';" 
          value="PetVey Github" />

      <input type="button" style="margin-top:40px;"
          onclick="location.href='https://petvey-webapp.herokuapp.com/';" 
          value="PetVey HeroKu" />
      </div>

</div>
  
  
